<a href="https://colab.research.google.com/github/Somiya11/trial/blob/main/Finetuned_model_on_part2_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install transformers[torch]

Collecting transformers[torch]
  Downloading transformers-4.30.2-py3-none-any.whl (7.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.2/7.2 MB 52.7 MB/s eta 0:00:00
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from transformers[torch]) (3.12.2)
Collecting huggingface-hub<1.0,>=0.14.1 (from transformers[torch])
  Downloading huggingface_hub-0.15.1-py3-none-any.whl (236 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 236.8/236.8 kB 27.8 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from transformers[torch]) (1.22.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from transformers[torch]) (23.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from transformers[torch]) (6.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.10/dist-packages (from transformers[torch]) (2022.10.31)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from transformers[torch]) (2.27.1)
Collecting tokenizers!=0.11.3,<0.14,>=0.11.1 (from transformers[torch])
  Downloading tokenizers-0.13.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.8/7.8 MB 118.7 MB/s eta 0:00:00
Collecting safetensors>=0.3.1 (from transformers[torch])
  Downloading safetensors-0.3.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 89.3 MB/s eta 0:00:00
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.10/dist-packages (from transformers[torch]) (4.65.0)
Requirement already satisfied: torch!=1.12.0,>=1.9 in /usr/local/lib/python3.10/dist-packages (from transformers[torch]) (2.0.1+cu118)
Collecting accelerate>=0.20.2 (from transformers[torch])
  Downloading accelerate-0.20.3-py3-none-any.whl (227 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 227.6/227.6 kB 31.3 MB/s eta 0:00:00
Requirement already satisfied: psutil in /usr/local/lib/python3.10/dist-packages (from accelerate>=0.20.2->transformers[torch]) (5.9.5)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.14.1->transformers[torch]) (2023.6.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.14.1->transformers[torch]) (4.6.3)
Requirement already satisfied: sympy in /usr/local/lib/python3.10/dist-packages (from torch!=1.12.0,>=1.9->transformers[torch]) (1.11.1)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from torch!=1.12.0,>=1.9->transformers[torch]) (3.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from torch!=1.12.0,>=1.9->transformers[torch]) (3.1.2)
Requirement already satisfied: triton==2.0.0 in /usr/local/lib/python3.10/dist-packages (from torch!=1.12.0,>=1.9->transformers[torch]) (2.0.0)
Requirement already satisfied: cmake in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch!=1.12.0,>=1.9->transformers[torch]) (3.25.2)
Requirement already satisfied: lit in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch!=1.12.0,>=1.9->transformers[torch]) (16.0.6)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->transformers[torch]) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->transformers[torch]) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->transformers[torch]) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->transformers[torch]) (3.4)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->torch!=1.12.0,>=1.9->transformers[torch]) (2.1.3)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.10/dist-packages (from sympy->torch!=1.12.0,>=1.9->transformers[torch]) (1.3.0)
Installing collected packages: tokenizers, safetensors, huggingface-hub, transformers, accelerate
Successfully installed accelerate-0.20.3 huggingface-hub-0.15.1 safetensors-0.3.1 tokenizers-0.13.3 transformers-4.30.2

In [2]:
pip install sentencepiece

Collecting sentencepiece
  Downloading sentencepiece-0.1.99-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 18.7 MB/s eta 0:00:00
Installing collected packages: sentencepiece
Successfully installed sentencepiece-0.1.99

In [8]:
import torch
import pandas as pd
from torch.utils.data import Dataset
from transformers import T5Tokenizer, T5ForConditionalGeneration, AdamW
from transformers import Trainer, TrainingArguments

In [7]:
class SQLDataset(Dataset):
    def __init__(self, df, tokenizer):
        self.questions = df['question'].tolist()
        self.queries = df['sql'].tolist()
        self.tokenizer = tokenizer

    def __len__(self):
        return len(self.questions)

    def __getitem__(self, idx):
        question = self.questions[idx]
        query = self.queries[idx]

        inputs = self.tokenizer.encode_plus(
            question,
            padding='max_length',
            truncation=True,
            max_length=128,
            return_tensors='pt'
        )
        labels = self.tokenizer.encode(
            query,
            padding='max_length',
            truncation=True,
            max_length=64,
            return_tensors='pt'
        )

        return {
            'input_ids': inputs.input_ids.squeeze(),
            'attention_mask': inputs.attention_mask.squeeze(),
            'labels': labels.squeeze()
        }

In [5]:
df = pd.read_excel('NLtoSQL_dataset_part2.xls')

In [6]:
df

,Natural_language,SQL
0,How many unique major codes are there in oltas?,SELECT DISTINCT(MAJ_HD_CD) FROM Table_oltas
1,How many unique minor codes are there in oltas?,SELECT DISTINCT(MINR_HD_CD) FROM Table_oltas
2,How many unique bank codes are there in oltas?,SELECT DISTINCT(BANK_CD) FROM Table_oltas
3,How many unique branch codes are there in oltas?,SELECT DISTINCT(BRANCH_CD) FROM Table_oltas
4,List all unique taxpayers who have deposited c...,SELECT DISTINCT(TAN_PAN) FROM Table_oltas WHER...
...,...,...
194,"List full name, age and tax paid by taxpayers ...","Select A.Full_Name, B.TAX\nfrom Table_PAN A\nl..."
195,"List full name, age and tax paid by taxpayers ...","Select A.Full_Name, B.TAX\nfrom Table_PAN A\nl..."
196,What are the maximum and minimum tax paid in I...,"SELECT MAX(TAX), MIN(TAX) FROM Table_Itr1"
197,"What are the maximum, minimum and average tax ...","SELECT MAX(TAX), MIN(TAX), AVG(TAX) FROM Table..."
198,"List full name, age and tax paid by taxpayers ...","Select A.Full_Name, B.TAX\nfrom Table_PAN A\nl..."

# New Section

# New Section

In [9]:
df=df.sample(frac=1)

In [10]:
df.head()

,Natural_language,SQL
51,"Show the latest filing sequence, Form_id, fili...","SELECT FILING_SEQ_NO,FILING_TYPE,PAN_NO,FORM_I..."
137,show all unique non corporate entities in olta...,SELECT DISTINCT(TAN_PAN) from Table_oltas wher...
67,Show all data in Charity table,SELECT * FROM Table_charity
90,Show minimum TAX in ITR1 table,SELECT Min(TAX) FROM Table_itr1
80,Show all data in ITR3 table where PAN is not i...,SELECT * FROM Table_itr3 where PAN<>'invalid'

In [ ]:
#df=df.head(950)

In [11]:
df2=df.copy()

In [12]:
df2.head()

,Natural_language,SQL
51,"Show the latest filing sequence, Form_id, fili...","SELECT FILING_SEQ_NO,FILING_TYPE,PAN_NO,FORM_I..."
137,show all unique non corporate entities in olta...,SELECT DISTINCT(TAN_PAN) from Table_oltas wher...
67,Show all data in Charity table,SELECT * FROM Table_charity
90,Show minimum TAX in ITR1 table,SELECT Min(TAX) FROM Table_itr1
80,Show all data in ITR3 table where PAN is not i...,SELECT * FROM Table_itr3 where PAN<>'invalid'

In [13]:
df2.rename(columns={'Natural_language':'question', 'SQL':'sql'}, inplace=True)

In [ ]:
#df_new=pd.concat([df, df2])

In [ ]:
#df_new.shape

(1001, 2)

In [14]:
df_new=df2.copy()

In [15]:
train_data = df_new
valid_data = df_new[170:]
#test_data = df[45000:]

In [16]:
tokenizer = T5Tokenizer.from_pretrained('t5-base')
model = T5ForConditionalGeneration.from_pretrained('t5-base')

Downloading (…)ve/main/spiece.model:   0%|          | 0.00/792k [00:00<?, ?B/s]

Downloading (…)lve/main/config.json:   0%|          | 0.00/1.21k [00:00<?, ?B/s]

/usr/local/lib/python3.10/dist-packages/transformers/models/t5/tokenization_t5.py:163: FutureWarning: This tokenizer was incorrectly instantiated with a model max length of 512 which will be corrected in Transformers v5.
For now, this behavior is kept to avoid breaking backwards compatibility when padding/encoding with `truncation is True`.
- Be aware that you SHOULD NOT rely on t5-base automatically truncating your input to 512 when padding/encoding.
- If you want to encode/pad to sequences longer than 512 you can either instantiate this tokenizer with `model_max_length` or pass `max_length` when encoding/padding.
- To avoid this warning, please instantiate this tokenizer with `model_max_length` set to your preferred value.
  warnings.warn(

Downloading model.safetensors:   0%|          | 0.00/892M [00:00<?, ?B/s]

Downloading (…)neration_config.json:   0%|          | 0.00/147 [00:00<?, ?B/s]

In [17]:
dataset1 = SQLDataset(train_data, tokenizer)
dataset2 = SQLDataset(valid_data, tokenizer)

In [18]:
dataset1[0]

{'input_ids': tensor([ 3111,     8,  1251,  9479,  5932,     6,  3025,   834,    23,    26,
             6,  9479,   833,    11,  9479,   686,    13,   276,  5033, 14213,
           308, 14574,  2128,   948,    16,     3, 15029,  6503,     1,     0,
             0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
             0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
             0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
             0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
             0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
             0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
             0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
             0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
             0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
             0,     0,     0,     0,     0,     0,     0,     0]),
 'attention_mask': tensor([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0]),
 'labels': tensor([    3, 23143, 14196,   377,  3502,  2365,   834,   134, 23346,   834,
          7400,     6,   371,  3502,  2365,   834, 12016,  5668,     6,   345,
          5033,   834,  7400,     6, 24030,   834,  4309,     6,  3291,   134,
         10087, 11810,   834,   476, 19356,     6,   371,  3502,  2365,   834,
           308,  6048, 21680,  4398,   834,    15,  8027,    53,   549, 17444,
           427,     3, 24030,   834,  4309,    16,    41,    31,  3177,   448,
          4525,    31,     6,     1])}

In [19]:
# Define the training arguments
training_args = TrainingArguments(
    output_dir='./output',
    num_train_epochs=100,
    per_device_train_batch_size=3,    #changed from 16 to 5
    per_device_eval_batch_size=3,
    learning_rate=1e-5,
    save_total_limit=1,
    fp16=True,  # Enable mixed-precision training if available
    logging_dir='./logs',
    logging_steps=10,  # changed from 500 to 10
    save_steps=500,
)

In [20]:
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')

In [21]:
trainer = Trainer(
    model=model,
    args=training_args,
    train_dataset=dataset1,
    eval_dataset=dataset2,
)

In [22]:
model.to(device)

T5ForConditionalGeneration(
  (shared): Embedding(32128, 768)
  (encoder): T5Stack(
    (embed_tokens): Embedding(32128, 768)
    (block): ModuleList(
      (0): T5Block(
        (layer): ModuleList(
          (0): T5LayerSelfAttention(
            (SelfAttention): T5Attention(
              (q): Linear(in_features=768, out_features=768, bias=False)
              (k): Linear(in_features=768, out_features=768, bias=False)
              (v): Linear(in_features=768, out_features=768, bias=False)
              (o): Linear(in_features=768, out_features=768, bias=False)
              (relative_attention_bias): Embedding(32, 12)
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
          (1): T5LayerFF(
            (DenseReluDense): T5DenseActDense(
              (wi): Linear(in_features=768, out_features=3072, bias=False)
              (wo): Linear(in_features=3072, out_features=768, bias=False)
              (dropout): Dropout(p=0.1, inplace=False)
              (act): ReLU()
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
        )
      )
      (1-11): 11 x T5Block(
        (layer): ModuleList(
          (0): T5LayerSelfAttention(
            (SelfAttention): T5Attention(
              (q): Linear(in_features=768, out_features=768, bias=False)
              (k): Linear(in_features=768, out_features=768, bias=False)
              (v): Linear(in_features=768, out_features=768, bias=False)
              (o): Linear(in_features=768, out_features=768, bias=False)
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
          (1): T5LayerFF(
            (DenseReluDense): T5DenseActDense(
              (wi): Linear(in_features=768, out_features=3072, bias=False)
              (wo): Linear(in_features=3072, out_features=768, bias=False)
              (dropout): Dropout(p=0.1, inplace=False)
              (act): ReLU()
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
        )
      )
    )
    (final_layer_norm): T5LayerNorm()
    (dropout): Dropout(p=0.1, inplace=False)
  )
  (decoder): T5Stack(
    (embed_tokens): Embedding(32128, 768)
    (block): ModuleList(
      (0): T5Block(
        (layer): ModuleList(
          (0): T5LayerSelfAttention(
            (SelfAttention): T5Attention(
              (q): Linear(in_features=768, out_features=768, bias=False)
              (k): Linear(in_features=768, out_features=768, bias=False)
              (v): Linear(in_features=768, out_features=768, bias=False)
              (o): Linear(in_features=768, out_features=768, bias=False)
              (relative_attention_bias): Embedding(32, 12)
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
          (1): T5LayerCrossAttention(
            (EncDecAttention): T5Attention(
              (q): Linear(in_features=768, out_features=768, bias=False)
              (k): Linear(in_features=768, out_features=768, bias=False)
              (v): Linear(in_features=768, out_features=768, bias=False)
              (o): Linear(in_features=768, out_features=768, bias=False)
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
          (2): T5LayerFF(
            (DenseReluDense): T5DenseActDense(
              (wi): Linear(in_features=768, out_features=3072, bias=False)
              (wo): Linear(in_features=3072, out_features=768, bias=False)
              (dropout): Dropout(p=0.1, inplace=False)
              (act): ReLU()
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
        )
      )
      (1-11): 11 x T5Block(
        (layer): ModuleList(
          (0): T5LayerSelfAttention(
            (SelfAttention): T5Attention(
              (q): Linear(in_features=768, out_features=768, bias=False)
              (k): Linear(in_features=768, out_features=768, bias=False)
              (v): Linear(in_features=768, out_features=768, bias=False)
              (o): Linear(in_features=768, out_features=768, bias=False)
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
          (1): T5LayerCrossAttention(
            (EncDecAttention): T5Attention(
              (q): Linear(in_features=768, out_features=768, bias=False)
              (k): Linear(in_features=768, out_features=768, bias=False)
              (v): Linear(in_features=768, out_features=768, bias=False)
              (o): Linear(in_features=768, out_features=768, bias=False)
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
          (2): T5LayerFF(
            (DenseReluDense): T5DenseActDense(
              (wi): Linear(in_features=768, out_features=3072, bias=False)
              (wo): Linear(in_features=3072, out_features=768, bias=False)
              (dropout): Dropout(p=0.1, inplace=False)
              (act): ReLU()
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
        )
      )
    )
    (final_layer_norm): T5LayerNorm()
    (dropout): Dropout(p=0.1, inplace=False)
  )
  (lm_head): Linear(in_features=768, out_features=32128, bias=False)
)

In [23]:
trainer.train()  #training 1

/usr/local/lib/python3.10/dist-packages/transformers/optimization.py:411: FutureWarning: This implementation of AdamW is deprecated and will be removed in a future version. Use the PyTorch implementation torch.optim.AdamW instead, or set `no_deprecation_warning=True` to disable this warning
  warnings.warn(

TrainOutput(global_step=6700, training_loss=0.3019121612519471, metrics={'train_runtime': 1563.5413, 'train_samples_per_second': 12.728, 'train_steps_per_second': 4.285, 'total_flos': 3029565505536000.0, 'train_loss': 0.3019121612519471, 'epoch': 100.0})

In [36]:
trainer.train()  #training 2

TrainOutput(global_step=6700, training_loss=0.04185098000871602, metrics={'train_runtime': 1565.4349, 'train_samples_per_second': 12.712, 'train_steps_per_second': 4.28, 'total_flos': 3029565505536000.0, 'train_loss': 0.04185098000871602, 'epoch': 100.0})

In [ ]:
save_path = 'FinetunedT5_small_model'
!mkdir {save_path}
model.save_pretrained(save_path)
tokenizer.save_pretrained(save_path)

('FinetunedT5_small_model/tokenizer_config.json',
 'FinetunedT5_small_model/special_tokens_map.json',
 'FinetunedT5_small_model/spiece.model',
 'FinetunedT5_small_model/added_tokens.json')

In [ ]:
!zip -r Finetuned_small.zip {save_path}

  adding: FinetunedT5_small_model/ (stored 0%)
  adding: FinetunedT5_small_model/pytorch_model.bin (deflated 9%)
  adding: FinetunedT5_small_model/spiece.model (deflated 48%)
  adding: FinetunedT5_small_model/special_tokens_map.json (deflated 86%)
  adding: FinetunedT5_small_model/tokenizer_config.json (deflated 83%)
  adding: FinetunedT5_small_model/config.json (deflated 62%)
  adding: FinetunedT5_small_model/generation_config.json (deflated 29%)

In [ ]:
output_dir = './fine-tuned-model'
trainer.save_model(output_dir)

In [24]:
results = trainer.evaluate(dataset2)
print(results)

{'eval_loss': 0.013931747525930405, 'eval_runtime': 0.4369, 'eval_samples_per_second': 66.37, 'eval_steps_per_second': 22.886, 'epoch': 100.0}

In [37]:
#training 2
results = trainer.evaluate(dataset2)
print(results)

{'eval_loss': 0.013928608037531376, 'eval_runtime': 0.4193, 'eval_samples_per_second': 69.169, 'eval_steps_per_second': 23.851, 'epoch': 100.0}


**Check the ouput of the model trained twice for 100 epochs each**

In [39]:
input_question = "What is the average total tax paid by coporate entities in year 2023"
input_encoded = tokenizer.encode_plus(
    input_question,
    padding='max_length',
    truncation=True,
    max_length=128,
    return_tensors='pt'
).to(device)

generated = model.generate(
    input_ids=input_encoded.input_ids,
    attention_mask=input_encoded.attention_mask,
    max_length=64,
    num_beams=4,
    early_stopping=True
)
generated_query = tokenizer.decode(generated.squeeze())

print("Generated SQL Query:", generated_query)

Generated SQL Query: <pad> SELECT AVG(TAX) FROM Table_oltas WHERE AST_YR=2023</s>

In [42]:
input_question = "What is the minimum regular tax paid by coporate entities in oltas table"
input_encoded = tokenizer.encode_plus(
    input_question,
    padding='max_length',
    truncation=True,
    max_length=128,
    return_tensors='pt'
).to(device)

generated = model.generate(
    input_ids=input_encoded.input_ids,
    attention_mask=input_encoded.attention_mask,
    max_length=64,
    num_beams=4,
    early_stopping=True
)
generated_query = tokenizer.decode(generated.squeeze())

print("Generated SQL Query:", generated_query)

Generated SQL Query: <pad> SELECT MIN(TOT_AMT) FROM Table_oltas where MAJ_HD_CD=20</s>

In [44]:
input_question = "What is the maximum and minimum advance tax paid by coporate entities in oltas table"
input_encoded = tokenizer.encode_plus(
    input_question,
    padding='max_length',
    truncation=True,
    max_length=128,
    return_tensors='pt'
).to(device)

generated = model.generate(
    input_ids=input_encoded.input_ids,
    attention_mask=input_encoded.attention_mask,
    max_length=64,
    num_beams=4,
    early_stopping=True
)
generated_query = tokenizer.decode(generated.squeeze())

print("Generated SQL Query:", generated_query)

Generated SQL Query: <pad> SELECT MAX(TOT_AMT) FROM Table_oltas WHERE MINR_HD_CD=100 AND MAJ_HD_CD=20</s>

In [47]:
input_question = "Show all data in ITR5 table"
input_encoded = tokenizer.encode_plus(
    input_question,
    padding='max_length',
    truncation=True,
    max_length=128,
    return_tensors='pt'
).to(device)

generated = model.generate(
    input_ids=input_encoded.input_ids,
    attention_mask=input_encoded.attention_mask,
    max_length=64,
    num_beams=4,
    early_stopping=True
)
generated_query = tokenizer.decode(generated.squeeze())

print("Generated SQL Query:", generated_query)

Generated SQL Query: <pad> SELECT * FROM Table_itr5</s>

In [48]:
input_question = "Show count of distinct taxpayers in ITR2 table	"
input_encoded = tokenizer.encode_plus(
    input_question,
    padding='max_length',
    truncation=True,
    max_length=128,
    return_tensors='pt'
).to(device)

generated = model.generate(
    input_ids=input_encoded.input_ids,
    attention_mask=input_encoded.attention_mask,
    max_length=64,
    num_beams=4,
    early_stopping=True
)
generated_query = tokenizer.decode(generated.squeeze())

print("Generated SQL Query:", generated_query)

Generated SQL Query: <pad> SELECT COUNT(DISTINCT Taxpayers) FROM Table_itr2</s>

In [52]:
input_question = "Show full name and tax paid by PAN='abc123123"
input_encoded = tokenizer.encode_plus(
    input_question,
    padding='max_length',
    truncation=True,
    max_length=128,
    return_tensors='pt'
).to(device)

generated = model.generate(
    input_ids=input_encoded.input_ids,
    attention_mask=input_encoded.attention_mask,
    max_length=64,
    num_beams=4,
    early_stopping=True
)
generated_query = tokenizer.decode(generated.squeeze())

print("Generated SQL Query:", generated_query)

Generated SQL Query: <pad> Select A.Full_Name, B.TAX from Table_PAN A left join Table_PAN on A.Pan='abc123123'</s>

In [53]:
input_question = "Show full name and tax paid"
input_encoded = tokenizer.encode_plus(
    input_question,
    padding='max_length',
    truncation=True,
    max_length=128,
    return_tensors='pt'
).to(device)

generated = model.generate(
    input_ids=input_encoded.input_ids,
    attention_mask=input_encoded.attention_mask,
    max_length=64,
    num_beams=4,
    early_stopping=True
)
generated_query = tokenizer.decode(generated.squeeze())

print("Generated SQL Query:", generated_query)

Generated SQL Query: <pad> Select A.Full_Name, B.TAX from Table_PAN A left join Table_Tax on A.Pan=B.Pan</s>

In [57]:
input_question = "Show full name, age and tax paid whose Age is 50"
input_encoded = tokenizer.encode_plus(
    input_question,
    padding='max_length',
    truncation=True,
    max_length=128,
    return_tensors='pt'
).to(device)

generated = model.generate(
    input_ids=input_encoded.input_ids,
    attention_mask=input_encoded.attention_mask,
    max_length=64,
    num_beams=4,
    early_stopping=True
)
generated_query = tokenizer.decode(generated.squeeze())

print("Generated SQL Query:", generated_query)

Generated SQL Query: <pad> Select A.Full_Name, B.TAX from Table_PAN A left join Table_Pan where Age=50</s>

In [58]:
input_question = "Show full name, age and tax paid whose Age between 30 and 50"
input_encoded = tokenizer.encode_plus(
    input_question,
    padding='max_length',
    truncation=True,
    max_length=128,
    return_tensors='pt'
).to(device)

generated = model.generate(
    input_ids=input_encoded.input_ids,
    attention_mask=input_encoded.attention_mask,
    max_length=64,
    num_beams=4,
    early_stopping=True
)
generated_query = tokenizer.decode(generated.squeeze())

print("Generated SQL Query:", generated_query)

Generated SQL Query: <pad> Select A.Full_Name, B.TAX from Table_PAN A left join Table_Tax on A.Pan=B.Pan where Age Between 30 and 50</s>

In [60]:
input_question = "How many unique sft codes are there"
input_encoded = tokenizer.encode_plus(
    input_question,
    padding='max_length',
    truncation=True,
    max_length=128,
    return_tensors='pt'
).to(device)

generated = model.generate(
    input_ids=input_encoded.input_ids,
    attention_mask=input_encoded.attention_mask,
    max_length=64,
    num_beams=4,
    early_stopping=True
)
generated_query = tokenizer.decode(generated.squeeze())

print("Generated SQL Query:", generated_query)

Generated SQL Query: <pad> SELECT DISTINCT(sft_cd) FROM Table_sft</s>

In [62]:
input_question = "unique sft codes in sft table"
input_encoded = tokenizer.encode_plus(
    input_question,
    padding='max_length',
    truncation=True,
    max_length=128,
    return_tensors='pt'
).to(device)

generated = model.generate(
    input_ids=input_encoded.input_ids,
    attention_mask=input_encoded.attention_mask,
    max_length=64,
    num_beams=4,
    early_stopping=True
)
generated_query = tokenizer.decode(generated.squeeze())

print("Generated SQL Query:", generated_query)

Generated SQL Query: <pad> SELECT DISTINCT(sft_cd) from Table_sft</s>

In [ ]:
input_question = "unique sft codes in sft table"
input_encoded = tokenizer.encode_plus(
    input_question,
    padding='max_length',
    truncation=True,
    max_length=128,
    return_tensors='pt'
).to(device)

generated = model.generate(
    input_ids=input_encoded.input_ids,
    attention_mask=input_encoded.attention_mask,
    max_length=64,
    num_beams=4,
    early_stopping=True
)
generated_query = tokenizer.decode(generated.squeeze())

print("Generated SQL Query:", generated_query)

In [69]:
input_question = "Show maximum tax paid by non corporate entities"
input_encoded = tokenizer.encode_plus(
    input_question,
    padding='max_length',
    truncation=True,
    max_length=128,
    return_tensors='pt'
).to(device)

generated = model.generate(
    input_ids=input_encoded.input_ids,
    attention_mask=input_encoded.attention_mask,
    max_length=64,
    num_beams=4,
    early_stopping=True
)
generated_query = tokenizer.decode(generated.squeeze())

print("Generated SQL Query:", generated_query)

Generated SQL Query: <pad> SELECT MAX(TAX) FROM Table_oltas WHERE MINR_HD_CD=100 AND MAJ_HD_CD=21 AND AST_YR=21</s>

In [71]:
input_question = "Show full name of taxpayers who were born after 1990 "
input_encoded = tokenizer.encode_plus(
    input_question,
    padding='max_length',
    truncation=True,
    max_length=128,
    return_tensors='pt'
).to(device)

generated = model.generate(
    input_ids=input_encoded.input_ids,
    attention_mask=input_encoded.attention_mask,
    max_length=64,
    num_beams=4,
    early_stopping=True
)
generated_query = tokenizer.decode(generated.squeeze())

print("Generated SQL Query:", generated_query)

Generated SQL Query: <pad> SELECT FULL_NAME from Table_PAN where BIRTH_YEAR>1990</s>

In [79]:
input_question = "Show all personal information and GST paid by taxpayers"
input_encoded = tokenizer.encode_plus(
    input_question,
    padding='max_length',
    truncation=True,
    max_length=128,
    return_tensors='pt'
).to(device)

generated = model.generate(
    input_ids=input_encoded.input_ids,
    attention_mask=input_encoded.attention_mask,
    max_length=64,
    num_beams=4,
    early_stopping=True
)
generated_query = tokenizer.decode(generated.squeeze())

print("Generated SQL Query:", generated_query)

Generated SQL Query: <pad> Select A.*, B.TAX from Table_PAN A left join Table_GST on A.Pan=B.Pan</s>

In [80]:
input_question = "Show all personal information and GST paid by taxpayers paid in 2020"
input_encoded = tokenizer.encode_plus(
    input_question,
    padding='max_length',
    truncation=True,
    max_length=128,
    return_tensors='pt'
).to(device)

generated = model.generate(
    input_ids=input_encoded.input_ids,
    attention_mask=input_encoded.attention_mask,
    max_length=64,
    num_beams=4,
    early_stopping=True
)
generated_query = tokenizer.decode(generated.squeeze())

print("Generated SQL Query:", generated_query)

Generated SQL Query: <pad> Select A.*, B.TAX from Table_PAN A left join Table_GST on A.Pan=B.Pan</s>

In [81]:
input_question = "Show all data in GST table"
input_encoded = tokenizer.encode_plus(
    input_question,
    padding='max_length',
    truncation=True,
    max_length=128,
    return_tensors='pt'
).to(device)

generated = model.generate(
    input_ids=input_encoded.input_ids,
    attention_mask=input_encoded.attention_mask,
    max_length=64,
    num_beams=4,
    early_stopping=True
)
generated_query = tokenizer.decode(generated.squeeze())

print("Generated SQL Query:", generated_query)

Generated SQL Query: <pad> SELECT * FROM Table_GST</s>

In [83]:
input_question = "Show all data in Aman table"
input_encoded = tokenizer.encode_plus(
    input_question,
    padding='max_length',
    truncation=True,
    max_length=128,
    return_tensors='pt'
).to(device)

generated = model.generate(
    input_ids=input_encoded.input_ids,
    attention_mask=input_encoded.attention_mask,
    max_length=64,
    num_beams=4,
    early_stopping=True
)
generated_query = tokenizer.decode(generated.squeeze())

print("Generated SQL Query:", generated_query)

Generated SQL Query: <pad> SELECT * FROM Table_aman</s>

In [84]:
input_question = "Show max and min amount in table money"
input_encoded = tokenizer.encode_plus(
    input_question,
    padding='max_length',
    truncation=True,
    max_length=128,
    return_tensors='pt'
).to(device)

generated = model.generate(
    input_ids=input_encoded.input_ids,
    attention_mask=input_encoded.attention_mask,
    max_length=64,
    num_beams=4,
    early_stopping=True
)
generated_query = tokenizer.decode(generated.squeeze())

print("Generated SQL Query:", generated_query)

Generated SQL Query: <pad> SELECT Max(TOT_AMT) FROM Table_money</s>

In [86]:
input_question = "Show maximum, minimum amount in table money"
input_encoded = tokenizer.encode_plus(
    input_question,
    padding='max_length',
    truncation=True,
    max_length=128,
    return_tensors='pt'
).to(device)

generated = model.generate(
    input_ids=input_encoded.input_ids,
    attention_mask=input_encoded.attention_mask,
    max_length=64,
    num_beams=4,
    early_stopping=True
)
generated_query = tokenizer.decode(generated.squeeze())

print("Generated SQL Query:", generated_query)

Generated SQL Query: <pad> SELECT Max(TOT_AMT) FROM Table_money</s>

In [87]:
input_question ="What are the maximum, minimum and average tax paid in Itr1 table"
input_encoded = tokenizer.encode_plus(
    input_question,
    padding='max_length',
    truncation=True,
    max_length=128,
    return_tensors='pt'
).to(device)

generated = model.generate(
    input_ids=input_encoded.input_ids,
    attention_mask=input_encoded.attention_mask,
    max_length=64,
    num_beams=4,
    early_stopping=True
)
generated_query = tokenizer.decode(generated.squeeze())

print("Generated SQL Query:", generated_query)

Generated SQL Query: <pad> SELECT MAX(TAX), MIN(TAX), AVG(TAX) FROM Table_Itr1</s>

In [88]:
input_question ="List PAN of all unique corporate entities"
input_encoded = tokenizer.encode_plus(
    input_question,
    padding='max_length',
    truncation=True,
    max_length=128,
    return_tensors='pt'
).to(device)

generated = model.generate(
    input_ids=input_encoded.input_ids,
    attention_mask=input_encoded.attention_mask,
    max_length=64,
    num_beams=4,
    early_stopping=True
)
generated_query = tokenizer.decode(generated.squeeze())

print("Generated SQL Query:", generated_query)

Generated SQL Query: <pad> SELECT DISTINCT(TAN_PAN) from Table_oltas where MAJ_HD_CD=20</s>

In [89]:
input_question ="List PAN of all unique non corporate entities"
input_encoded = tokenizer.encode_plus(
    input_question,
    padding='max_length',
    truncation=True,
    max_length=128,
    return_tensors='pt'
).to(device)

generated = model.generate(
    input_ids=input_encoded.input_ids,
    attention_mask=input_encoded.attention_mask,
    max_length=64,
    num_beams=4,
    early_stopping=True
)
generated_query = tokenizer.decode(generated.squeeze())

print("Generated SQL Query:", generated_query)

Generated SQL Query: <pad> SELECT DISTINCT(TAN_PAN) from Table_oltas where MAJ_HD_CD=21</s>

In [92]:
input_question ="Show max self_assessment tax"
input_encoded = tokenizer.encode_plus(
    input_question,
    padding='max_length',
    truncation=True,
    max_length=128,
    return_tensors='pt'
).to(device)

generated = model.generate(
    input_ids=input_encoded.input_ids,
    attention_mask=input_encoded.attention_mask,
    max_length=64,
    num_beams=4,
    early_stopping=True
)
generated_query = tokenizer.decode(generated.squeeze())

print("Generated SQL Query:", generated_query)

Generated SQL Query: <pad> SELECT MAX(TOT_AMT) FROM Table_oltas WHERE MINR_HD_CD=300</s>

In [93]:
input_question ="Show max regular tax "
input_encoded = tokenizer.encode_plus(
    input_question,
    padding='max_length',
    truncation=True,
    max_length=128,
    return_tensors='pt'
).to(device)

generated = model.generate(
    input_ids=input_encoded.input_ids,
    attention_mask=input_encoded.attention_mask,
    max_length=64,
    num_beams=4,
    early_stopping=True
)
generated_query = tokenizer.decode(generated.squeeze())

print("Generated SQL Query:", generated_query)

Generated SQL Query: <pad> SELECT Max(TOT_AMT) FROM Table_oltas WHERE MINR_HD_CD=100 AND MAJ_HD_CD=20</s>

In [49]:
#END

** END ** **bold text**

In [63]:
df_new.head(50)

,question,sql
51,"Show the latest filing sequence, Form_id, fili...","SELECT FILING_SEQ_NO,FILING_TYPE,PAN_NO,FORM_I..."
137,show all unique non corporate entities in olta...,SELECT DISTINCT(TAN_PAN) from Table_oltas wher...
67,Show all data in Charity table,SELECT * FROM Table_charity
90,Show minimum TAX in ITR1 table,SELECT Min(TAX) FROM Table_itr1
80,Show all data in ITR3 table where PAN is not i...,SELECT * FROM Table_itr3 where PAN<>'invalid'
1,How many unique minor codes are there in oltas?,SELECT DISTINCT(MINR_HD_CD) FROM Table_oltas
2,How many unique bank codes are there in oltas?,SELECT DISTINCT(BANK_CD) FROM Table_oltas
158,What is the average self_assessment tax in olt...,SELECT AVG(TOT_AMT) FROM Table_oltas WHERE M...
171,Show full name of taxpayers and tax paid in Itr3,"Select A.Full_Name, B.TAX\nfrom Table_PAN A\nl..."
109,Show total tax paid in ITR4 table,SELECT Sum(TAX) FROM Table_itr4
188,Show full name of taxpayers who were born in 1...,SELECT FULL_NAME from Table_PAN where BIRTH_YE...
47,Show all records in table efiling who have fil...,SELECT * FROM Table_efiling where Form_id in (...
35,How much RT was collected through Corporate en...,SELECT SUM(TOT_AMT) FROM Table_oltas WHERE M...
196,What are the maximum and minimum tax paid in I...,"SELECT MAX(TAX), MIN(TAX) FROM Table_Itr1"
135,who are the non-corporate entities in oltas table,SELECT TAN_PAN from Table_oltas where MAJ_HD_C...
133,List all unique corporate entities in oltas table,SELECT DISTINCT(TAN_PAN) from Table_oltas wher...
136,show all noncorporate entities in oltas table,SELECT TAN_PAN from Table_oltas where MAJ_HD_C...
8,List all unique taxpayers who have deposited c...,SELECT DISTINCT(TAN_PAN) FROM Table_oltas WHER...
114,Show all unique ITDREIN in SFT table where Ret...,SELECT DISTINCT(sft_cd) from Table_SFT where R...
116,Show all unique ITDREIN in SFT table where Ret...,SELECT DISTINCT(sft_cd) from Table_SFT where R...
198,"List full name, age and tax paid by taxpayers ...","Select A.Full_Name, B.TAX\nfrom Table_PAN A\nl..."
118,Show all unique ITDREIN in SFT table where Ret...,SELECT DISTINCT(sft_cd) from Table_SFT where R...
106,Show total tax paid in ITR1 table,SELECT Sum(TAX) FROM Table_itr1
52,Show the latest filling sequence of PAN PQRS12...,SELECT FILING_SEQ_NO FROM Table_efiling\nWHERE...
175,"Show full name, age and tax paid by taxpayers ...","Select A.Full_Name, B.TAX\nfrom Table_PAN A\nl..."
12,Show all unique taxpayers who have deposited c...,SELECT DISTINCT(TAN_PAN) FROM Table_oltas WHER...
86,Show maximum TAX in ITR1 table,SELECT Max(TAX) FROM Table_itr1
21,How much advance tax was collected through Non...,SELECT SUM(TOT_AMT) FROM Table_oltas WHERE M...
124,Show average TAX in ITR4 table,SELECT AVG(TAX) FROM Table_itr4
85,Show all data in ITR4 table where PAN is valid,SELECT * FROM Table_itr4 where PAN='valid'
18,How much total transaction was done in 2021 un...,SELECT SUM(TOT_AMT) FROM Table_oltas \nWHERE A...
29,How much SAT was collected through Non Corpora...,SELECT SUM(TOT_AMT) FROM Table_oltas WHERE M...
150,What is the average regular tax in oltas table,SELECT AVG(TOT_AMT) FROM Table_oltas WHERE M...
32,How much SAT advance tax was collected through...,SELECT SUM(TOT_AMT) FROM Table_oltas WHERE M...
115,Show all unique ITDREIN in SFT table where Ret...,SELECT DISTINCT(sft_cd) from Table_SFT where R...
44,Show details in table efiling whose filing typ...,SELECT * FROM Table_efiling where Form_id NOT ...
125,who are the corporate entities in oltas table,SELECT TAN_PAN from Table_oltas where MAJ_HD_C...
60,how much total tax paid was paid by PANS ABCD1...,"SELECT B.PAN_NO, B.ASSESSMENT_YEAR, A.TOTAL_TA..."
195,"List full name, age and tax paid by taxpayers ...","Select A.Full_Name, B.TAX\nfrom Table_PAN A\nl..."
168,Show full name of taxpayers and tax paid in Itr2,"Select A.Full_Name, B.TAX\nfrom Table_PAN A\nl..."
34,How much total Regular Tax was collected throu...,SELECT SUM(TOT_AMT) FROM Table_oltas WHERE M...
53,What is the latest ITR filed by PAN XYZ112233,"SELECT FORM_ID, FILING_DATE FROM Table_efiling..."
58,how much gross salary was filed by PANS ABCD12...,"SELECT B.PAN_NO, B.ASSESSMENT_YEAR, A.GROSS_IN..."
147,Show the maximum advance tax in oltas table,SELECT MAX(TOT_AMT) FROM Table_oltas WHERE M...
27,How much TDS was collected through Corporate e...,SELECT SUM(TOT_AMT) FROM Table_oltas WHERE M...
49,Show all records in table efiling who have fil...,SELECT * FROM Table_efiling where Form_id in (...
155,Show the maximum TDS in oltas table,SELECT MAX(TOT_AMT) FROM Table_oltas WHERE M...
43,List the records in table efiling whose filing...,SELECT * FROM Table_efiling where Form_id in (...
131,show all corporate entities in oltas table,SELECT TAN_PAN from Table_oltas where MAJ_HD_C...
33,How much Regular Tax was collected through Non...,SELECT SUM(TOT_AMT) FROM Table_oltas WHERE M...

In [ ]:
#generation from newly trained

In [98]:
input_question = "what are unique major codes in oltas"
input_encoded = tokenizer.encode_plus(
    input_question,
    padding='max_length',
    truncation=True,
    max_length=128,
    return_tensors='pt'
).to(device)

generated = model.generate(
    input_ids=input_encoded.input_ids,
    attention_mask=input_encoded.attention_mask,
    max_length=64,
    num_beams=4,
    early_stopping=True
)
generated_query = tokenizer.decode(generated.squeeze())

print("Generated SQL Query:", generated_query)

Generated SQL Query: <pad> SELECT DISTINCT(MAJ_HD_CD) FROM Table_oltas</s>